
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #8ed1fc;
}

.image {
  height: 398px;
}

.highlighter {
  height: 80%;
  background-color: #e3b38e;
  width: 3%;
}

.subTitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 0 30px 0 0;
}

.footer {
  background-color: #8ed1fc ;
  height: 50px;
}




